.loginForm {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(100,100,100,.1);
    border-radius: 10px;
    background: white;
    text-align: center;
}

.loginForm label {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    margin: 30px auto;
    width: 100%;
}

.loginForm span {
    padding: 5px;
    text-align: left;
}

.loginForm input {
    border: none;
    background: var(--gray);
    padding: 5px 0;
}

.loginForm input:focus {
    outline: none;
    border-bottom: var(--primary) 1px solid
}

.loginForm input[type="submit"] {
    width: 30%;
    border: none;
    color: var(--dark);
    background: var(--light);
    padding: 10px 15px;
}